<div class="container-fluid">
  <div class="row footer-one">
    <div class="section-1">
      <h1>Fashion Trends</h1>
      <p>Fashion is the armour at a particular time,place and context,to survive the reality of everyday life.</p>
    </div>

    <div class="section-2">
      <h4>Policy Info</h4>
      <ul>
        <li>Policy Instructions</li>
        <li>Enquiries</li>
        <li>Reviews</li>
        <li>Email us</li>
      </ul>
    </div>

    <div class="section-3">
      <h4>Company</h4>
      <ul>
        <li>Company Details</li>
        <li>Company Overview</li>
        <li>Contact</li>
        <li>Email Us</li>
      </ul>
    </div>

    <div class="section-4">
      <h4>Business Info</h4>
      <ul>
        <li>Business Enquiry</li>
        <li>Business Information</li>
        <li>Business Talks</li>
        <li>Business Groups</li>
      </ul>
    </div>

    <div class="section-5">
         <input type="text" placeholder="Your email Address">
         <button>Subscribe</button>
    </div>
  </div>
  <div class="row">
    <div class="col footer-two">
      <span>Copyrights 2020, All Rights Reserved 2020</span>
    </div>
  </div>
</div>
