.footer-one { height: 220px; width: 1280px; background: white; margin-top: 10px; display: flex; justify-content: space-around; padding: 13px;}

.footer-two {
  height: 35px;
  font-weight: bolder;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%section {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-1 {
  @extend %section;
}

.section-2 {
  @extend %section;
}

.section-3 {
  @extend %section;
}

.section-4 {
  @extend %section;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 {

  input {
    padding: 8px;
    background: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  button {
    padding: 8px;
    background: #333333;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

}

