<mat-card class="product-item">
  <div class="container-fuild">
        <div class="row">
                <div class="col-8">
                        <img class="image-product" src="../../assets/nature.jpg"/>
                </div>
            </div>
    

            <div class="title-item-product">
                <h4>Product 01</h4>
            </div>

       <button mat-mini-fab aria-label="Example icon-button with a heart icon" class="add-to-shop-btn">+</button>
        
  </div>
</mat-card>