
    <!-- filter panel section -->
    <div class="row container-filter">
            <div class="col-8">
                <div class="filter-panel">
                        
                        <mat-accordion>
                                <mat-expansion-panel>
    
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      <i class="material-icons">tune</i>
                                      <span>Filter</span>
                                    </mat-panel-title>
                                    
                                  </mat-expansion-panel-header>
                              
                                 <!--  put what you want here  -->
    
                                 </mat-expansion-panel>
                              
                        </mat-accordion>
    
                </div>
            </div>
    </div>
        <!-- filter panel section -->